.app-title-container{
    background-color: white;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);


}


.app-title{
    text-align: center;
    margin: 0;
}

.main-emoji-container{

height: 250px;
width:250px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
border-radius: 20px;
box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);

}
.main-emoji{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 
}
.emoji-container{
   background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
   width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);


}
.emoji-items{
    font-size: 30px;
    margin: 10px;
    cursor: pointer;

}
.emoji-items:hover{
transform:scale(1.4);

} 
.emojji-editor-container{
    display:flex;
    justify-content: space-around;
    
}
.colors-container{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    padding: 10px;
    border-radius: 30px;
    margin-top: 100px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);



}
.color-item{
    border: 1px solid gray;
    border-radius: 5px;
    width: 60px;
    height: 40px;


}
.color-item:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.bg-violet{
    background-color: violet;
}
.bg-purple{
    background-color: purple;
}
.bg-pink{
    background-color: pink;

}
.bg-yellow{
    background-color: yellow;
}
.bg-black{
    background-color: black;
}
.size-container{
    background-color: white;
   height: 40px;
    width: 500px;
    padding: 10px;
    border-radius: 30px;
    margin-top: 50px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);


}
.size-slider{
    width: 100%;
}